@import "general.css";
#topBar {
    -fx-background-color: #777777;
    -fx-background-radius: 5;
}

#quizNameBar {
    -fx-background-color: #303f9f;
    -fx-background-radius: 5;
}

#toolButtonsBox {
    -fx-background-color: #DFDFDF;
    -fx-background-insets: -5;
    -fx-background-radius: 5;
}

#bottomBar {
    -fx-background-color: #505050;
    -fx-background-insets: -5 -2;
    -fx-background-radius: 5;
}

#flagButton .button {
    -fx-background-color: #303f9f;
    -fx-max-height: 50px;
    -fx-max-width: 60px;
    -fx-background-radius: 1;
}

#flagButton .button:hover {
    -fx-border-color: D4D4D4;
    -fx-border-radius: 1;
}

#nextBackButton .button{
  -fx-background-color: #FAFAFA;
  -fx-min-height: 50px;
  -fx-min-width: 60px;
}

#nextBackButton .button:hover{
  -fx-border-color: D4D4D4;
}
