.button {
  -fx-text-fill: #ffffff;
  -fx-background-color: rgba(0,0,0, .25);
  -fx-padding: 0.35em 1.2em;
  -fx-border-color: #FFFFFF;
  -fx-border-insets: .1em;
  -fx-border-style: solid;
  -fx-border-radius: .12em;
  -fx-font-weight: 400;
}

.button:hover {
  -fx-background-color: #ffffff;
  -fx-text-fill: black;
}